*{
    margin: o;
    padding: 0;
}
body{
    
    background-color: #b2ece1;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;


}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 25%;
    border: 5px solid black;
    box-shadow: 0 0 1rep rgba(0,0,0,1);
    font-size: 10vmin;
    font-weight: 20px;
    color: #841c26;
    background-color: white;

}
#bt{
    padding: 10px;
    color:white;
    background-color: black;
border-radius: 20%;


}
#btn{
    padding: 10px;
    color:white;
    background-color: black;
border-radius: 20%;


}
#msg{
    color: rgb(84, 84, 25);
    font-size: 10vmin;
}
.hide{
    display: none;
}
